{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Gextion des User</h1>


 <button class=" bg-dark bg-gradient text-center w-100">
  <a href="{{ path('app_back_user_new') }}" class="text-danger">Create new</a>
  </button>
 <button class=" bg-dark  w-100">    
    <a href="{{ path('app_back_user_index') }}" class="text-danger">back to general backoffice</a>
    </button>


    <table class="table text-light">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ path('app_back_user_show', {'id': user.id}) }}" class="text-light bg-danger">show</a>
                    <a href="{{ path('app_back_user_edit', {'id': user.id}) }}" class="text-light bg-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
